#hour  {
  color: #ff0060;
}
header {
  margin: auto;
  width: 90%;
}
html {
  font-family: 'Montserrat', sans-serif;
}
#tiptop {
  font-weight: bold;
  font-size: 30px;
}
#decoration {
  color: black;
  font-size: 15px;
}
#delivery {
  color: white;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 270px;
  padding: 10px;
}
body {
  background-color:#FFEE59;
}
.header-container {
  display: inline-block;
  vertical-align: middle;
}

.header-container > img {
  margin: auto 16px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid white;
}
#tiptop-container {
  margin-right: 32px;
}
#decoration-container {
  margin-right: 88px;
}
