#hour  {
  color: #ff0060;
}
header {
  display: flex;
  justify-content: space-around;
}
html {
  font-family: 'Montserrat', sans-serif;
}
#tiptop {
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  vertical-align:middle;
  margin: auto;
}
#decoration {
  display: inline-block;
  color: black;
  font-size: 15px;
  vertical-align:middle;
}
#tiptopimage {
  vertical-align: middle;
}
#delivery {
  color: white;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 270px;
  padding: 10px;
}
body {
  background-color:#FFEE59;
}
