#hour  {
  color: #ff0060;
}
.container {
  border-style: solid;
}
header {
  display: flex;
  justify-content: space-around;
}
html {
  font-family: 'Montserrat', sans-serif;
}
#tiptop {
  font-weight: bold;
  font-size: 30px;
  vertical-align:top;
  margin: auto;
  border-style: solid;
}
#decoration {
  color: black;
  font-size: 15px;
  vertical-align:middle;
}
#tiptopimage {
  vertical-align: middle;
}
